body {
    background: url(./img/bg-desktop.svg)
}
.container {
    background-color: blueviolet;
}

.content {
    display: flex;
}

button {
    width: 60%;
    height: 7%;
    border-radius: 20px;
    border: none;
    color: white;
    
}